@mixin link_default {
    text-decoration: none;
    color: $text_color-11;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;

    &:hover {
        color: $text_color-8;

    }
}

@mixin pargh-title_default {
    font-weight: 300;
    color: $text_color-11;
    font-size: 1rem;
}

@mixin pargh_default {
    font-weight: 300;
    color: $text_color-11;
    font-size: .9rem;
}

@mixin pargh-card_default {
    color: $text_color-11;
    font-weight: 300;
    font-size: 0.8rem;
}

@mixin text-list_default {
    color: $text_color-6;
    font-weight: 300;
    font-size: 0.7rem;
}

@mixin btn-carousel-default {
    width: 50px;
    aspect-ratio: 1;

    &:hover {
        color: $text_color-8 !important;
    }
}