// BACKGROUND COLORS: 16
$background_color-1: #FFFFFF;
$background_color-2: #FFFFFF33;
$background_color-3: #FFFFFF26;
$background_color-4: #FAFAFA;
$background_color-5: #FBF9F9;
$background_color-6: #F9F9F9;
$background_color-7: #E1E1E1;
$background_color-8: #FF4612;
$background_color-9: #EF2853;
$background_color-10: #EE2852;
$background_color-11: #1E1E1E4D;
$background_color-12: #1E1E1E;
$background_color-13: #1E1C1C;
$background_color-14: #191516;
$background_color-15: #181515;
$background_color-16: #00000026;

// TEXT COLORS: 14
$text_color-1: #FFFFFF;
$text_color-2: #FAFAFA;
$text_color-3: #D2D2D2;
$text_color-4: #CCCCCC;
$text_color-5: #C0C0C0;
$text_color-6: #BDBDBD;
$text_color-7: #A6A6A6;
$text_color-8: #FF4612;
$text_color-9: #6A6A6A;
$text_color-10: #606060;
$text_color-11: #555555;
$text_color-12: #1E1E1E;
$text_color-13: #181515;
$text_color-14: #000000;

// FILL COLORS: 4
$fill_color-1: #FFFFFF;
$fill_color-2: #D8D8D8;
$fill_color-3: #EE2852;
$fill_color-4: #000000;

// BORDER COLORS COLORS: 6
$border_color-1: #FFFFFF;
$border_color-2: #ECECEC;
$border_color-3: #EBEBEB;
$border_color-4: #CCCCCC;
$border_color-5: #FF4612;
$border_color-6: #1E1E1E;